{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-screen" style="background-color: #bee248">
    <div class="w-full max-w-lg p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4 text-center">Submit SMILES String for ADMET prediction</h1>
        <form action="{{ url_for('auth.admetpredictor') }}" method="post" class="space-y-4">
            <label for="smiles_string" class="block text-sm font-medium text-gray-700 text-center">SMILES</label>
            <input type="text" id="smiles_string" name="smiles_string" placeholder="Enter SMILES" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required>
            <div class="flex justify-center">
                <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Submit</button>
            </div>
        </form>

        <!-- {% if prediction %} -->
            <!-- <h2 class="text-xl font-bold mt-6 mb-4 text-center">Prediction Results</h2> 
                <div class="space-y-4"> -->
                    <!-- {% for item in prediction %} -->
                        <!-- <div class="flex justify-between">
                            <span class="font-bold text-gray-700">{{ item[0] }}</span>  
                            <span class="text-gray-900">{{ item[1] }}</span>         
                        </div> -->
                    <!-- {% endfor %} -->
                <!-- </div> -->
        <!-- {% endif %} -->

        {% if prediction %}
        <h2 class="text-xl font-bold mt-6 mb-4 text-center">Prediction Results</h2> <!-- Added mb-4 for spacing -->
            <div class="space-y-8">
                {% for category, models in prediction.items() %}
                    <div class="mt-4">
                        <h3 class="text-lg font-bold text-gray-800">{{ category }}</h3>
                    </div>
                    <div class="space-y-4">
                        {% for model_name, result in models %}
                            <!-- Model Name and Prediction Result -->
                            <div class="flex justify-between">
                                <span class="font-bold text-gray-700">{{ model_name }}</span>  <!-- Model Name -->
                                <span class="text-gray-900">{{ result }}</span>               <!-- Prediction Result -->
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>

<!-- <div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Submit SMILES String</h1>
    <form action="{{ url_for('auth.admetpredictor') }}" method="post" class="bg-white p-6 rounded-lg shadow-md">
        <label for="smiles_string" class="block text-sm font-medium text-gray-700">SMILES String</label>
        <input type="text" id="smiles_string" name="smiles_string" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm" required>
        <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Submit</button>
    </form>
</div> -->
{% endblock %}