<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base.html :: commonHead}"></head>
<body class="bg-green-200">

<div th:insert="~{base.html :: navbar}"></div>


<div class="container mx-auto p-4">
    <h1 class="text-xl font-semibold mb-4">Register</h1>
    <form th:action="@{/register}" method="post" class="bg-white p-6 rounded shadow-md">
        <div class="mb-4">
            <label for="username" class="block text-gray-700">Username:</label>
            <input type="text" id="username" name="username" th:field="${user.username}" class="w-full p-2 border border-gray-300 rounded" required>
            <p th:if="${#fields.hasErrors('username')}" class="text-red-600 text-sm" th:text="${#fields.errors('username')}"></p>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700">Password:</label>
            <input type="password" id="password" name="password" th:field="${user.password}" class="w-full p-2 border border-gray-300 rounded" required>
            <p th:if="${#fields.hasErrors('password')}" class="text-red-600 text-sm" th:text="${#fields.errors('password')}"></p>
        </div>
        <div class="mb-4">
            <button type="submit" class="bg-blue-600 text-white p-2 rounded hover:bg-blue-700">Register</button>
        </div>
        <p th:if="${error_message}" class="text-red-600 text-sm" th:text="${error_message}"></p>
    </form>
</div>
</body>
</html>