<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:block="${title}">SMILES Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="background-color: #bee248;">

<div th:fragment="body">
    <div class="flex justify-center items-center min-h-screen">
        <div class="w-full max-w-lg p-6 bg-white shadow-md rounded">
            <h1 class="text-2xl font-bold mb-4 text-center">Enter a SMILES string</h1>
            <form th:action="@{/smiles_generator}" method="post" class="space-y-4">
                <input type="text" name="smiles" placeholder="Enter SMILES" class="border border-gray-300 p-2 rounded w-full"/>
                <input type="submit" value="Generate Molecule" class="bg-blue-600 text-white p-2 rounded cursor-pointer w-full"/>
            </form>

            <div th:if="${imgFilename}">
                <h2 class="text-xl font-semibold mt-6 mb-2 text-center">Generated Molecule:</h2>
                <div class="flex justify-center">
                    <img th:src="@{/static/images/{filename}(filename=${imgFilename})}" alt="Molecule Image" class="mt-4 mx-auto"/>
                </div>
                <h3 class="text-lg font-semibold text-center">SMILES: <span th:text="${smiles}"></span></h3>
            </div>

            <div th:if="${error}">
                <p class="text-red-600 mt-4 text-center" th:text="${error}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>